.add-new-project-form {
  align-items: center;
  background-color: #93f8b3;
  /* display: flex; */
  display: none;
  flex-flow: column nowrap;
  padding: 2rem;
}

.add-new-project-form h3 {
  color: var(--shade-1);
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.add-new-project-form h4 {
  color: var(--shade-2);
  font-size: 2rem;
  font-weight: 300;
  line-height: 100%;
}

.add-new-project-form input {
  background-color: white;
  border: none;
  border-radius: 2rem;
  color: var(--main-background);
  margin-left: 1.5rem;
  outline: none;
  padding: 0.5rem;
  text-align: center;
}

.add-new-project-form textarea {
  background-color: white;
  border: none;
  border-radius: 1rem;
  color: var(--main-background);
  margin-left: 1.5rem;
  outline: none;
  padding: 0.5rem;
  resize: none;
}

.add-new-project-title,
.add-new-project-url,
.add-new-project-description {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  font-size: 3rem;

  justify-content: center;
  margin-bottom: 2.5rem;
  width: 100%;
}

.add-new-project-btn {
  background-color: var(--shade-2);
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 2.5rem;
  margin: 3rem;
  padding: 1.5rem;
}

.skill-set {
  display: flex;
  flex-flow: row wrap;
  margin-top: 2rem;
}

.skill-set button {
  background-color: var(--skills-btn);
  border: none;
  border-radius: 2rem;
  color: #00757b;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0.5rem;
  padding: 1rem;
}
