.project {
  background-color: #005158;
  font-size: 2.4rem;
  margin-bottom: 3rem;
  padding: 1rem;
}

.project-url {
  font-size: 1.2rem;
  font-weight: 100;
  text-decoration: none;
}

.project-description {
  font-size: 1.6rem;
  margin: 3rem 0;
  text-align: center;
}

.mint-highlight {
  color: var(--shade-7);
}

.project-description span {
  font-size: 1.6rem;
  font-weight: 500;
}

.project-skills {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
}

.project-skills li {
  color: var(--text-light-grey);
  font-size: 1.2rem;
  font-weight: 300;
}

.project-skills li span {
  color: var(--text-light-grey);
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0 1rem;
}
