* {
  box-sizing: border-box;
  color: var(--main-text-color);
  font-size: 62.5%;
  margin: 0;
  padding: 0;

  /* Background */
  --main-background: #002f36;

  /* Fonts */
  --main-text-color: white;
  --text-light-grey: #d1d1d1;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;

  /* Other colors */
  --shade-1: #005158;
  --shade-2: #00757b;
  --shade-3: #009ba1;
  --shade-4: #48c2c8;
  --shade-5: #51d5c7;
  --shade-6: #68e7c2;
  --shade-7: #93f8b3;
  --skills-btn: white;
}

#app {
  background-color: var(--main-background);
  margin: auto;
  width: 414px;
}

.nav-bar {
  background-color: var(--main-background);
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
  padding: 1.5rem 2.5rem;
  width: 100%;
}

.js-logo {
  height: 2.9rem;
  width: 2.2rem;
}

.social-media-contact {
  align-items: center;
  display: flex;
  flex-direction: row nowrap;
  list-style: none;
}

.social-media-contact li {
  cursor: pointer;
}

.linkedin-logo {
  margin: 0 1rem;
}

.about-me {
  color: var(--text-light-grey);
  margin: 4.5rem 2.5rem 0 2.5rem;
}

.first-line {
  font-size: 1.6rem;
  font-weight: 200;
}

.second-line {
  color: var(--shade-5);
  font-size: 3.2rem;
  font-weight: 300;
  margin: 1.5rem 0;
}

.third-line {
  font-size: 2.4rem;
  font-weight: 200;
}

.job-title {
  color: var(--shade-7);
  font-size: 3rem;
  font-weight: 500;
}

.about-me-text {
  font-size: 1.6rem;
  line-height: 200%;
  margin-top: 4rem;
}

.projects-section {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 2.5rem;
}

.projects-intro {
  font-size: 1.6rem;
  line-height: 200%;
  margin-top: 4.5rem;
}

.download-cv-button {
  align-self: flex-end;
  background-color: var(--shade-6);
  padding: 1rem;
  text-align: center;
  margin: 3rem;
}

.download-cv-button p {
  color: var(--shade-1);
  font-size: 1.6rem;
  font-weight: 200;
}

.download-cv-button a {
  text-decoration: none;
}

.cv {
  color: var(--shade-1);
  font-size: 1.6rem;
  font-weight: 300;
}

.projects-section h3 {
  font-size: 2.4rem;
  font-weight: 100;
  margin-bottom: 1.5rem;
}

.project {
  background-color: #005158;
  font-size: 2.4rem;
  margin-bottom: 3rem;
  padding: 1rem;
}

.project-url {
  font-size: 1rem;
  font-weight: 100;
  text-decoration: none;
}

.project-description {
  margin: 3rem 0;
  text-align: center;
}

.project-skills {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  list-style: none;
}

.project-skills li {
  color: var(--text-light-grey);
  font-weight: 300;
}

.project-skills li span {
  color: var(--text-light-grey);

  font-size: 1rem;
  font-weight: 300;
  margin: 0 1rem;
}

.add-new-project-form {
  align-items: center;
  background-color: #93f8b3;
  display: flex;
  flex-flow: column nowrap;
  padding: 2rem;
}

.add-new-project-form h3 {
  color: var(--shade-1);
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.add-new-project-form h4 {
  color: var(--shade-2);
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.add-new-project-title,
.add-new-project-url,
.add-new-project-description {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 2rem;
}

.add-new-project-btn {
  background-color: var(--shade-2);
  font-size: 2rem;
  margin: 3rem;
  padding: 1rem;
}

.skill-set {
  display: flex;
  flex-flow: row wrap;
}

.skill-set button {
  background-color: var(--skills-btn);
  border: none;
  border-radius: 2rem;
  color: #00757b;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0.5rem;
  padding: 1rem;
}
