* {
  box-sizing: border-box;
  font-size: 65.5%;
  margin: 0;
  padding: 0;

  /* Background */
  --main-background: #002f36;

  /* Fonts */
  --main-text-color: white;
  --text-light-grey: #d1d1d1;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;

  /* Other colors */
  --shade-1: #005158;
  --shade-2: #00757b;
  --shade-3: #009ba1;
  --shade-4: #48c2c8;
  --shade-5: #51d5c7;
  --shade-6: #93f8b3;
}
